.left {
    margin-top: 60px;
    position: absolute;
    width: 60%;
    height: 92vh;
    left: 0px;
    top: 0px;
    background: #F5F5F5;
}

.right {
    margin-top: 60px;
    position: absolute;
    width: 40%;
    height:92vh;
    right: 0px;
    top: 0px;
    background: #F5F5F5;
}

.right> img{
    margin-top: 80px;
}

.right > .rank{
    position: absolute;
    top: 35%;
    left:35%;
    transform: translate(-50%, -50%);
    font-size: 4.75rem;
    line-height: 120%;
}


.profile {
    display: flex;
    margin-top: 100px;
    margin-left: 70px;
    
}

.profile-name{
    
    margin-left: 30px;
}

.profile>img {
    border-radius: 50%;
    width: 150px;
    height: 150px;
    border: 2px solid gray;
}

.profile__title {
    font-size: 2.75rem;
    line-height: 40%;
    color: #000000;
    margin-bottom: 1.25rem;
}

.category{
    margin-left: 70px;
    padding-top: 30px;
    line-height: 30%;
}