.search{
    margin: 70px 100px;
}

.grid-container {

    display: grid;
    gap: 30px 30px;
    
    grid-template-columns: 23% 23% 23% 23%;
    padding: 10px;
    
  }
  
  .container {
    padding: 10px;
  }
  .grid-item {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    text-align: center;
    background-color: rgba(255, 255, 255, 0.8);
    /* border: 1px solid rgba(0, 0, 0, 0.8); */
    padding: 20px;
    font-size: 30px;
    text-align: center;
  }

  .grid-item > img{
    max-width:50%;
  }
